# Template .env.example - non contains secrets
# Copia questo file in .env e imposta i valori reali prima di avviare i container

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=QTMTenant_LecigimonY
DB_USERNAME=root
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Keycloak / other envs can be added below as needed
# APP_KEYCLOAK_SERVER_URL=http://keycloak:8080
